<h1 mat-dialog-title>Erro de Login</h1>
<div mat-dialog-content>
  <p>Parece que seu email ou senha está incorreto, confira suas credenciais ou registre uma nova conta</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>
