<h1 mat-dialog-title>Alterado com Sucesso</h1>
<div mat-dialog-content>
  <p>Usuario alterado com sucesso, por favor realize o login novamente</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>
