<h1 matCardTitle> Area compartilhada</h1>
<mat-grid-list cols="3" rowHeight="2:1">
  <div *ngFor="let item of advertisements">
    <mat-grid-tile >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Date: {{item.date}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            "{{item.text}}"
          </p>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()">See</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
