
<h1 matCardTitle>Resultados </h1>
<mat-divider></mat-divider>
<div  class='tableauPlaceholder'><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;joaobi' /><param name='name' value='tbs2&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>
