.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.stepper{
  width: 75%;
}

.form-location{
  position: center;
}

chartBar-container{
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tableauPlaceholder{
  width: 100%;
}

.tableauViz{
  width: 100%;
  height: 500px;
}
