.example-card {
  max-width: 500px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-dialog {
  width: 100%;
}

.options-icon-position{
  position: fixed;
  right: 15%;
}
