<div class="bg-img">
  <div class="card-position">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Altere suas Informações</mat-card-title>
        <mat-card-subtitle>
          {{user.name}}
        </mat-card-subtitle>
      </mat-card-header>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input type="text" value="{{user.name}}" formControlName="name" placeholder="nome" matInput color="primary" >
            </mat-form-field>
          <mat-form-field>
            <input type="text" value="{{user.email}}" formControlName="email" matInput placeholder="email" >
          </mat-form-field>
          <div>
            <button type="submit" mat-raised-button >Atualizar</button>
            <button  mat-stroked-button class="cancel-button-position" (click)="cancelOption()">cancelar</button>
          </div>
        </form>
    </mat-card>
  </div>
</div>
