.bg-img{
  /* The image used */
  /* Full height */

  /* Center and scale the image nicely */
  background-size: cover;
  background-image: url("../../../../assets/businessman-man-person-990818.jpg");
  height: 100vh;
  width: 100%;

}


.card-position{
  position: fixed;
  top: 20px;
  left:20%;
  right:20%;
}


example-card {
  max-width: 100px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 150px;
  height: 150px;
}


mat-card-title{
  font-size: 30px;
}


mat-form-field{
  font-size: 18px;
  width: 80%;
  transform: translateX(20px);

}
