.bg-img{
  /* The image used */
  /* Full height */

  /* Center and scale the image nicely */
  background-size: cover;
  background-image: url("../../assets/registerscreen.jpg");
  height: 100vh;
  width: 100%;

}
.mat-card {
  margin-left: 35%;
  margin-right: 40%;
  transform: translateY(50px);

}

.mat-card label{
  color: white;
}

.mat-createUser{
  background-color: dodgerblue;
  color: white;
}

mat-form-field{
  font-size: 18px;
  width: 80%;
  transform: translateX(20px);

}


.mat-raised-button{
  width: 40%;
}

.input{
  color: white;
}

.cancel-button-position{
  margin-left: 10%;
}
