<div class="bg-img">
  <mat-card>

    <mat-card-title>Create User</mat-card-title>
    <mat-card-content>
      <div class="row">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="x12">
            <mat-form-field>
              <input type="text" formControlName="name" placeholder="nome" matInput color="primary">
            </mat-form-field>
          </div>
          <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="email">
          </mat-form-field>
          <mat-form-field>
            <input  type="password" formControlName="password" matInput placeholder="senha">
          </mat-form-field>
          <mat-form-field>
            <input type="password" formControlName="repeatPassword" matInput placeholder="repita a senha">
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="companyName" placeholder="selecione uma empresa">
              <mat-option *ngFor="let option of companyOptions"  value="{{option}}">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" mat-raised-button [color]="'createUser'" [disabled]="!userForm.valid">Create</button>
            <button type="submit" mat-stroked-button class="cancel-button-position" (click)="cancelOption()">cancel</button>

        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
