.sidenav-container {
  height: 100%;

}


.sidenav {
  width: 250px;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #1976D2


}

.naiveContent {
  margin-left: 10px;
}

.mat-toolbar {
  z-index: inherit;

}

.options-icon-position{
  position: absolute;
  right: 15%;

}



.example-spacer {
  flex: 1 1 auto;
}
