<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav mat-elevation-z4"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home/evaluate']" >
        Avalie
        <div class="options-icon-position">
          <mat-icon>
            add_comment
          </mat-icon>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink] = "['/home/dashboard']" (click)="refrashAPI()" routerLinkActive="active" >
        Análise de Empresas
        <div class="options-icon-position">
          <mat-icon>
            bar_chart
          </mat-icon>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink] = "['/home/history']">
        Histórico de Avaliações
        <div class="options-icon-position">
          <mat-icon>
            apps
          </mat-icon>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink] = "['/home/company']">
        Avaliados pela Empresa
        <div class="options-icon-position">
          <mat-icon>
            device_hub
          </mat-icon>
        </div>
      </a>


    </mat-nav-list>
  </mat-sidenav>

  <!--Container das paginas-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon >menu</mat-icon>
      </button>

      <span>Bem Vindo {{loggedUser.name}}</span>
      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="options-position">
        <mat-menu #menu="matMenu" class="options-position">
          <button mat-menu-item (click)="updateUser()">
            <mat-icon>build</mat-icon>
            <span>configurações</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="naiveContent">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
