.mat-input-placeholder{
  font-size:400px;
}
.example-full-width {
  width: 75%;
}

.mat-evaluate{
  background-color: dodgerblue;
  color: white;
  width:250px;
  height:  50px;
}

.mat-h1{
  margin-top: 10px;
}
