<h1 class="mat-h1">Avalie sua mensagem</h1>

<div class="row">
  <form [formGroup]="evaluateForm" (ngSubmit)="onSubmit()">
    <div class="x12">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Escreve sua mensagem aqui</mat-label>
        <textarea formControlName = "advertising" matInput placeholder="Leave your Advertising here"></textarea>
      </mat-form-field>
    </div>
    <div class="center-align">
      <button type="submit" mat-raised-button [color] = "'evaluate'" >Evaluate</button>
    </div>
  </form>
