<h2 mat-dialog-title>Resultados</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <h3 matCardTitle>O quanto as pessooas gostaram</h3>
  <div class="pieChart-container">
    <canvas id="pieChart"></canvas>
  </div>
  <mat-divider></mat-divider>

  <h3 MatCardTitle> descobrir </h3>
  <div class="chartBar-container">
    <canvas id="chartOne"></canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
