.bg-img{
  /* The image used */
  /* Full height */

  /* Center and scale the image nicely */
  /*background-color:   #f2f2f2;*/
  background-size: cover;

  background-image: url("../../assets/business-widescreen-desktop-wallpaper-873-892-hd-wallpapers.jpg");
  height: 100vh;
  width: 100%;

}
.mat-card {
  margin-left: 35%;
  margin-right: 35%;
  transform: translateY(100px);


}

.mat-card label{
  color: white;
}

mat-form-field{
  font-size: 18px;
  width: 80%;
  transform: translateX(20px);

}

.mat-sucess{
  background-color: deepskyblue;
  color: white;
}

.mat-login{
  background-color: dodgerblue;
  color: white;
}

.label-icon{
  width: 30px;
  height: 30px;
}

.mat-raised-button{
  width: 50%;
  margin-right: 4px;
}

.mat-flat-button{
  width: 50%;
  margin-left: 4px;
}
