<div class="bg-img">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="xl12">
            <mat-form-field>
              <input matInput type="text" placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>

          <div class="xl12">
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">

            </mat-form-field>
          </div>

          <div class="row">
            <div class="xl6">
              <button mat-raised-button [color]="'login'">Login</button>
              <button mat-stroked-button color="'create'" [routerLink]="['/register']">Create Account</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>


</div>
