
<h1 matCardTitle>Resultados </h1>


<h3 matCardTitle>O quanto as pessooas gostaram</h3>
<div class="pieChart-container">
  <canvas id="pieChart"></canvas>
</div>
<mat-divider></mat-divider>

<h3 MatCardTitle> descobrir </h3>
<div class="chartBar-container">
  <canvas id="chartOne"></canvas>
</div>


